* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100vh;
}

form {
	margin-top: 20px;
	display: inline;
}

input {
	height: 34px;
	width: 80%;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid lightgrey;
	padding: 5px;
	margin: 10px;
}

header {
	height: 50px;
	width: 100%;
	background-color: #4D5058;
	color: #FEFCFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

header a {
	color: #FEFCFA;
}

header a:hover {
	color: lightgrey;
	text-decoration: none;
}



.home-container {
	height: 100vh;
	width: 100%;
	background: url("../img/barber.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.wrapper {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 5px;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
}

.main-form {
	width: 100%;
}

.body {
	display: flex;
	flex-grow: 1;
	background-color: 
}



.navigation {
	display: flex;
	justify-content: space-between;
	background: #816F90;
	width: 20%;
	height: auto;
 
}

.booking-title {
	margin-bottom: 20px;
}

.team {
	padding: 20px;
}

.team select {
	width: 40%;
	height: 20px;
	border-radius: 5px;
}

.services {
	padding: 20px;
	width: 100%;

}

.service-checkbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.service-checkbox-title {
	height: 20px;
	width: 50%;
	margin-bottom: 20px;
}

.checkbox-inline {
	flex:1 ;
	height: 20px;
	margin: 5px;
}

.checkbox-inline input {
	height: 20px;

}

.date-picker {

	padding: 20px;
}

.date-picker input {
	height: 20px;
	width: 70%;
	margin: 0;
}

.date-picker select {
	width: 25%;
	border-radius: 5px;
}

.main {
  background: #FBFBFB;
  flex-grow: 1;
  width: 80%;
}

.bookings {
	width: 100%;
	display: block;
	height: 50%;
	padding: 20px; 
}

.bookings h4 {
	margin-bottom: 20px;
}

.bookings:last-child {
	border-top: 2px solid #ddd;
	padding-top: 10px;
}

table th {
	width: auto !important;
}

.table {
	margin-top-bottom: 30px;
}

.footer {
	height: 50px;
	width: 100%;
	background-color: #4D5058;
	color: #FEFCFA;
}

.submit-btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.submit-btn .btn {
	width: 50%;
}

.admin-navigation {
	display: flex;
	flex-direction: column;
	background: #816F90;
	width: 20%;
	height: auto;

}



/*Clendar style*/

.ui-datepicker {
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,102,102,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #666;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
	color: lightgrey;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
	color: black;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #666;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}







